[Unit]
Description=Power Key Shutdown Service
After=init_usb.service usb.service gdm.service

[Service]
Type=simple
Restart=always
RestartSec=1s
StandardOutput=journal
ExecStart=/usr/sbin/key_event_handler

[Install]
WantedBy=multi-user.target
