[Unit]
Description=Power Key Shutdown Service
After=init_usb.service usb.service 

[Service]
Type=simple
Restart=on-failure
RestartSec=1s
StandardOutput=journal
RemainAfterExit=yes
ExecStart=/usr/sbin/key_event_handler
Restart=always

[Install]
WantedBy=multi-user.target
