CONFIG_USER_NS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE=3
CONFIG_SQUASHFS_DECOMP_SINGLE_THREAD=y
CONFIG_SECURITY=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_SECURITY_APPARMOR_BOOTPARAM_VALUE=1
CONFIG_SECURITY_APPARMOR_HASH=y
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_APPARMOR_UNCONFINED=y
CONFIG_SECURITY_PATH=y
CONFIG_NETFILTER_XT_MATCH_AUDIT=y
CONFIG_AUDIT=y
CONFIG_SECURITY_CAPABILITIES=y
CONFIG_FS_POSIX_ACL=y
CONFIG_EXT4_FS_XATTR=y
CONFIG_SECURITYFS=y
CONFIG_SQUASHFS_LZO=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BTRFS_FS=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_ANDROID_BINDERFS=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_MEMFD_CREATE=y

# waydroid network support
CONFIG_NETFILTER_XT_MATCH_STATE=m
CONFIG_NF_CONNTRACK_MARK=y
CONFIG_DUMMY=m
CONFIG_CHECKPOINT_RESTORE=y

# nftables statements required by NetworkManager shared/hotspot mode
# (masquerade NAT, ct state match, reject); missing ones break hotspot internet
# (nft-masq/nft-reject/nft-ct modules; legacy iptables MASQUERADE also relies on
#  NF_NAT_MASQUERADE which NFT_MASQ selects)
CONFIG_NFT_MASQ=m
CONFIG_NFT_REJECT=m
CONFIG_NFT_CT=m
