[Unit]
Description=Key Pressed Print Service
After=init_usb.service usb.service 

[Service]
Type=simple
Restart=on-failure
RestartSec=1s
StandardOutput=journal
RemainAfterExit=yes
ExecStart=/usr/sbin/key_event_print
Restart=always

[Install]
WantedBy=multi-user.target
