// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Thundercomm, Inc. All rights reserved.
 */
 /dts-v1/;
 /plugin/;

&i2c9 {
    status = "ok";
};

&spi10 {
    status = "ok";
    #address-cells = <1>;
    #size-cells = <0>;
    spidev@0 {
        compatible = "rohm,dh2228fv";
        spi-max-frequency = <10000000>;
        reg = <0>;
    };
};

&qup_uart12_rx {
	drive-strength = <2>;
	bias-pull-up;
};

&qup_uart12_tx {
	drive-strength = <2>;
	bias-disable;
};

&uart12 {
    status = "ok";
};

&i2c13 {
    status = "ok";
};

&spi14 {
    status = "disabled";
    #address-cells = <1>;
    #size-cells = <0>;
    spidev@0 {
        compatible = "rohm,dh2228fv";
        spi-max-frequency = <10000000>;
        reg = <0>;
    };
};

&scm {
    download_mode = <DOWNLOAD_MODE>;
};
