[Unit]
Description=ATCID Daemon
DefaultDependencies=no
Requires=usb.service 
After=init_usb.service usb.service  property-vault.service sysinit.target local-fs.target
ConditionPathExists=!/var/persist/fct_done_flag

[Service]
Type=simple
Restart=on-failure
RestartSec=1s
StandardOutput=journal
RemainAfterExit=yes
ExecStart=/usr/sbin/atci_init.sh

[Install]
WantedBy=multi-user.target

