[Unit]
Description=Rebuild dconf database at boot
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dconf update
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target